*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 213, 0));
}

h1 {
body{
    background: linear-gradient(#ff0000, #ffd500);
}

h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}


.main-container{
    display: flex;
    justify-content: space-evenly;
}


.sub-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forward-backward-trading-card-holder-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*
.trading-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-color: #ffd500;
    border-width: 20px;
    border-radius: 5%;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    box-shadow: 7px 9px rgba(0, 0, 0, 0.466);
} */

/* Test Holo */
/* :root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
} */

.trading-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: double;
    border-color: silver;
    border-width: 20px;
    border-radius: 5%;
    background-image: linear-gradient(to right,
            rgb(194, 255, 182),
            rgb(255, 163, 182),
            rgb(221, 169, 255),
            rgb(162, 209, 255));

    @media screen and (min-width: 600px) {
        width: clamp(12.9vw, 61vh, 18vw);
        height: clamp(18vw, 85vh, 25.2vw);


        position: relative;
        overflow: hidden;
        margin: 20px;
        overflow: hidden;
        z-index: 10;
        touch-action: none;

        border-radius: 5% / 3.5%;
        box-shadow:
            -5px -5px 5px -5px var(--color1),
            5px 5px 5px -5px var(--color2),
            -7px -7px 10px -5px transparent,
            7px 7px 10px -5px transparent,
            0 0 5px 0px rgba(255, 255, 255, 0),
            0 55px 35px -20px rgba(0, 0, 0, 0.5);

        transition: transform 0.5s ease, box-shadow 0.2s ease;
        will-change: transform, filter;

        background-color: #040712;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        transform-origin: center;
    }
}

.trading-card-container:hover {
    box-shadow:
        -20px -20px 30px -25px var(--color1),
        20px 20px 30px -25px var(--color2),
        -7px -7px 10px -5px var(--color1),
        7px 7px 10px -5px var(--color2),
        0 0 13px 4px rgba(255, 255, 255, 0.3),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;

    background-color: yellow;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;

}


.trading-card-container:before,
.trading-card-container:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.trading-card-container:before {
    background-position: contain;
    background-size: contain;
    background-image: linear-gradient(115deg,
            transparent 0%,
            var(--color1) 25%,
            transparent 47%,
            transparent 53%,
            var(--color2) 75%,
            transparent 100%);
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.trading-card-container:after {
    opacity: 1;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
        url("https://assets.codepen.io/13471/holo.png"),
        linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: content;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
}

/* End of Test */


.top-layer {

}

.top-layer{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 270px;
}

.top-layer > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffd500;
}

.top-layer > div{
    border-style: solid;
    border-width: 2px;
    border-color: #ffd500;
    padding: 5px 10px;
    font-size: 20px;
}

.fa-solid {
    color: rgba(69, 69, 69, 0.55);
    font-size: 40px;
}

.fa-solid:hover {

}

.fa-solid{
    color: rgba(69, 69, 69, 0.55);
    font-size: 40px;
}
.fa-solid:hover{
    cursor: pointer;
    color: black;
}


.middle-layer {
    margin-bottom: 10px;
    width: 270px;
}

.middle-layer>img {

}
.middle-layer{
    margin-bottom: 10px;
    width: 270px;
}
.middle-layer > img{
    width: 270px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffd500;
}

.bottom-layer{
    border-style: solid;
    border-width: 5px;
    border-color: #ffd500;
    margin: auto 20px 10px 20px;
    width: 270px;
}

.bottom-layer>div {
    text-align: center;
    padding: 5px 2px;
    color: #fff;
}

.bottom-layer > div{
    text-align: center;
    padding: 5px 2px;
    color: #fff;
}
